:root{
    --bg-color: #3535ec;
    --accent-color: #f70d68;
  }
  
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    background-color: var(--bg-color);
    font-family: 'Press Start 2P', cursive;
  
    line-height: 1.4;
    color: #ffffff;
  }
  
  .container{
    width: 600px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin: 50px auto;
  }