:root {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #F3FAF3;
}

.app {
  height: 100vh;
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.header-container {
  padding-top: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 30px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px 2px #000000;
}

.content {
  font-family: 'Press Start 2P',
    sans-serif;
    margin: 10px;
}

.clarity {
  color: #2DD2FF;
}

.nature {
  color: #45E773;
}

.projects {
  color: #FFDD00;
}

.rounded-img {
  border-radius: 50%;
  border: 1px solid #2DD2FF;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.footer-container {
  padding-bottom: 30px;
}

.icon {
  width: 35px;
  height: 35px;
}

.logo {
  height: 120px;
  pointer-events: none;
}
