:root {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #F3FAF3;
}

.app {
  height: 100vh;
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.header-container {
  padding-top: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 30px;
}

.footer-container {
  padding-bottom: 30px;
}

.logo {
  width: 35px;
  height: 35px;
}

.App-logo {
  height: 120px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
